@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Mono|Roboto:300,300i,400,400i,500,500i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

$sans: "Roboto";
$mono: "Roboto Mono";
$title: "Roboto Slab";

* {
  font-family: $sans, sans-serif;
}

code, pre {
  font-family: $mono, monospace;
}

b, strong {
  font-weight: 500;
}

header, nav {
  font-family: $title, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title !important;
  font-weight: 400;
  color: #1C9696;
}
