
@media all and (max-width : 1020px) {
  header {
    h2 {
      display: none;
    }
  }
}

@media all and (max-width : 900px) {
  #content {
    margin-top: 12em;
  }
 header {
   position: absolute;
   top: 0;
   right: 0vw;
   width: 100%;
   bottom: auto;
   padding: 0 0;
   margin: 0 auto;
   line-height: 18px;
   .logo, h2 {
     display: none;
   }
   h1 {
     display: inline-block;
     padding: 1em 1em;
   }
   nav {
     display: block;
     width: 90vw;
     line-height: 18px;
     padding: 1em 1em;
     position: sticky;
     top: 0;
     a {
       display: inline-block;
       width: 170px;
       padding-left: 0;
     }
   }
 }
 .topic {
   max-width: 95%;
 }
}
