@import "partials/_fonts";

html {
  height: 100%;
  margin: 0 0;
  padding: 0 0;
}

body {
  min-height: 100%;
  max-width: 800px;
  margin: 0px auto;
}

header {
  img {
    height: 70px;
    display: inline-block;
    float: left;
    background-color: #111111ee;
    margin-right: 1em;
  }
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 0px;
  line-height: 70px;
  background-color: #222222ee;
  font-weight: 300;
  text-transform: uppercase;
  h1, h2 {
    a {
    text-decoration: none;
    color: white;
   }
    font-weight: 300 !important;
    margin: 0 0;
    color: #f2f2f2;
    font-size: 16px;
    line-height: 60px;
    display: inline-block;
    padding-right: 1em;
    b, strong {
      font-weight: 400;
      color: white;
    }
  }
  nav {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 66px;
    line-height: 70px;
    a {
      color: #ffffffbb;
      text-decoration: none;
      padding-left: 8px;
      &:hover {
        color: white;
      }
      &.active {
        color: white;
        font-weight: 400;
      }
    }
  }
}

#content {
  line-height: 25px;
  padding: 2em 0.5em;
  margin-bottom: 4em;
  a {
    border-bottom: 1px solid #1C9696;
    text-decoration: none;
    color: rgb(8, 52, 68);
    &:hover {
      border-bottom: 2px solid #1C9696;
    }
  }
}

.people {
  padding-left: 95px;
  min-height: 80px;
  margin: 1em 0em;
  margin-bottom: 2em;
  img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: 1px solid #d0d0d0;
    float: left;
    margin-left: -95px;
  }
  .name {
    font-weight: 500;
  }
  .role {
    color: #808080;
  }
  .metadata {
    span {
      margin-right: 1em;
    }
  }
}

.paper {
  .title {
    font-weight: 500;
    line-height: 18px;
  }
  margin-bottom: 2em;
}

.metadata {
  font-weight: 300;
  color: #333;
}

.badge {
  a {
    border-bottom: 0px solid white !important;
    &:hover {
      color: #1C9696 !important;
    }
  }
}

.people {
  .badge {
    font-weight: 400 !important;
    margin-left: 1em;
  }
}

@import "partials/_home";

.topic {
  max-width: 45%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 5em;
  float: left;
  text-align: center;
  img {
    width: 200px;
    object-fit: cover;
    border: 1px solid #d0d0d0;
    height: 200px;
    border-radius: 200px;
  }
}

@import "partials/_mobile.scss";

table {
  width: 100%;
  font-size: 90%;
  line-height: 25px;
  tbody {
    border-bottom: 1px solid #485C72;
    border-top: 1px solid #485C72;
  }
  th {
    font-weight: 500;
    color: white;
    background-color: #485C72;
  }
  th, td {
    padding: 4px 6px;
  }
  tr {
    background-color: transparentize(#485C72, 0.85);
    &:nth-child(even) {
      background-color: transparentize(#485C72, 0.95);
    }
  }
}
