#homepage {
    footer, header {
        display: none;
    }
}

#splash {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    .tagline {
        display: none;
        color: $lab-blue;
        font-weight: 380;
        text-transform: uppercase;
        line-height: 30px;
        font-size: 28px;
        left: 0px;
        top: -12px;
        position: relative;
        clear: both;
        .particle {
            min-width: 2em;
            display: inline-block;
            text-align: right;
            padding: 0px 0px;
            margin: 0px 0px;
        }
    .secondary {
            left: calc(2em + 6px);
            position: relative;
            color: $lab-green-dark;
        }
        .primary {
            color: $lab-green-light;
            font-weight: 520;
        }
    }
    section {
        display: block;
        position: fixed;
        left: 0%;
        width: 50vw;
        height: 100vh;
        bottom: 0;
        margin: 0 auto;
        background-color: white;
        color: white;
        text-align: center;
        div {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 3rem;
            text-align: left;
            max-width: 750px;
            vertical-align: bottom;
            color: black;
        }
        padding: 3.5em;
    }
}

@media only screen and (max-width: 18020px) {
    #splash {
        section {
            display: block;
            position: fixed;
            left: 0%;
            width: 100vw;
            height: 100vh;
            div {
                max-width: 800px;
                margin: 0px auto;
            }
        }
    }
}