#homepage {
    footer {
        display: none;
    }
}

#splash {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    section {
        display: block;
        position: fixed;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);
        margin: 0 auto;
        background-color: #1d8265;
        color: white;
        width: 100vw;
        text-align: center;
        div {
            margin: 0px auto;
            display: block;
            text-align: left;
            max-width: 750px;
        }
        padding: 3.5em;
        font-size: 1.1rem;
        h1 {
            font-weight: 300;
            font-size: 1.8rem;
            text-transform: uppercase;
        }
    }
}
