* {
    box-sizing: border-box;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

html, body {
    margin: 0 0;
    padding: 0 0;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

body {
    background-image: url("/backgrounds/1.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    line-height: 3em;
    color: white;
    font-weight: 600;
    padding-top: 80px;
    position: relative;
    top: 0;
    z-index: -1;
    font-size: 1.3rem;
    .container {
        margin: 0 auto;
        text-align: right;
        margin-bottom: 2em;
        text-shadow: 0px 0px 4px black;
    }
}

main#content {
    background-color: #fdfdfd;
    padding-bottom: 5em;
    padding-top: 2em;
}

section.container {
    padding: 1.75em;
    width: 100vw;
    line-height: 1.4;
    ul, li {
        list-style: none;
    }
}
