.listing {}


.item {
    &:hover {
        .mugshot {
            filter: grayscale(0%);
        }
    }
    .summary {
        span {
            display: inline-block;
            a {
                display: inline;
                color: $lab-green-light;
                background: none;
                padding: 0 0;
                border-radius: 0;
                font-weight: inherit;
                &:hover {
                    color: $lab-green-dark;
                }
            }
        }
    }
    .social {
        padding-top: 1em;
        //text-align: center;
        a {
            color: $lab-green-light;
            &:hover {
                color: $lab-green-dark;
            }
            background: none !important;
            border-bottom: none;
        }
    }
}


.item {
    padding: 0.0em;
    display: table;
    clear: both;
    padding-bottom: 4em;
    padding-top: 4em;
    img.header {
        margin-top: 10px;
        width: 120px;
        height: 120px;
        border-radius: 140px;
        box-shadow: 0px 0px 4px 0px $grey-medium;
        border: 1px solid $grey-light;
        float: left;
        z-index: -6;
    }
    h2 {
        padding: 0 0;
        margin: 0 0;
    }
    .summary {
        padding-top: 1em;
        span {
            padding-bottom: 0.5em;
        }
    }
    h2, .summary, .social {
        right: 0px;
        width: calc(100% - 160px);
        float: right;
    }
    a{
        background-color: $link-color;
        color: white;
        font-weight: 800;
        vertical-align: bottom;
        padding: 0.1em;
        &:hover {
            color: white;
            background-color: $link-color-hover;
        }
    }
    h2 {
        font-weight: 500;
        font-size: 120%;
        color: $lab-blue;
    }
}