@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@300;400;500;600&display=swap');

html {
    font-size: 18px;
}

body {
    font-family: 'Hepta Slab', serif;
    font-weight: 400;
}

b, strong {
    font-weight: 500;
}

em, i {
    font-weight: inherit;
}
