@import "_palette";
@import "_type";
@import "_navbar";
@import "_layout";
@import "_papers";
@import "_listing";
@import "_index";

@import "_publication";

.backdrop {
    width: 100vw;
    height: 100vw;
    background-blend-mode: hue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

.container {
    a {
        color: $link-color;
        text-decoration: none;
        border-bottom: 1px solid #eee;
        &:hover {
            color: $link-color-hover;
        }
    }
}

@media only screen and (min-width: 850px) {
    .container {
        max-width: 1000px;
        margin: 0px auto;
        p {
            line-height: 1.8;
        }
    }
    header {
        transition: 0.5s;
        .container {
            font-size: 140%;
        }
    }
    nav#topbar{
        a{ 
            display: inline-block;
        }
        a.icon {
            display: none;
        }
        nav#menu {
            position: fixed;
            right: 0px;
            top: 0px;
            display: block !important;
            text-align: right;
            a.menu {
                display: inline-block;
                background: none !important;
                color: $lab-blue;
            }
        }
    }
} 

.mugshot {
    filter: grayscale(50%);
}

footer {
    padding-top: 4em;
    background-color: #f3f3f3;
    color: #aeaeae;
    font-weight: 300;
}

#content {
    ul, li {
        list-style-type: circle;
        line-height: 150%;
    }
    li {
        margin-bottom: 1em;
    }
}