@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,300;1,400;1,600;1,800&display=swap');

* {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

b, strong {
    font-weight: 600;
}

em, i {
    font-weight: inherit;
}

$link-color: #114f54;
$link-color-hover: lighten(saturate($link-color, 20), 5);

@import "_layout";
@import "_index";

.backdrop {
    width: 100vw;
    height: 100vw;
    background-color: transparentize(darken($link-color, 5), 0.95);
    background-blend-mode: hue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

.container {
    a {
        color: $link-color;
        text-decoration: none;
        border-bottom: 1px solid #eee;
        &:hover {
            color: $link-color-hover;
        }
    }
}

.listing {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

.item {
    display: inline-block;
    padding: .5em;
    margin-bottom: 5em;
    max-width: 295px;
    vertical-align: top;
    a{
        background-color: $link-color;
        color: white;
        font-weight: 800;
        vertical-align: bottom;
        padding: 0.8em;
        border-radius: 1.2em;
        &:hover {
            color: white;
            background-color: $link-color-hover;
        }
    }
    h2 {
        font-weight: 300;
        font-size: 120%;
        font-variant: small-caps;
        color: black;
        padding-top: 1em;
        margin-bottom: 0em;
        height: 5em;
        text-align: center;
    }
    img.header {
        width: 160px;
        height: 160px;
        border-radius: 80px;
        border: 2px solid $link-color-hover;
        text-align: center;
        margin: 0px auto;
        display: block;
    }
    .summary {
        color: #555;
        font-weight: 400;
        height: 12.5em;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 950px;
        margin: 0px auto;
        p {
            line-height: 1.8;
        }
    }
    .item {
        .summary {
            height: 17em;
            line-height: 1.8;
        }
    }
    header {
        padding-top: 180px;
        transition: 0.5s;
        .container {
            font-size: 140%;
        }
    }
    nav#topbar{
        a{ 
            display: inline-block;
        }
        a.icon {
            display: none;
        }
        nav#menu {
            position: fixed;
            right: 0;
            top: 0;
            display: inline-block;
            a.menu {
                display: inline-block;
                background: none !important;
                color: white;
            }
        }
    }
} 

.paper {
    margin-bottom: 1.4em;
    .title {
        font-weight: 600;
    }
    .authors {
        font-weight: 300;
    }
    .badge {
        a {
            border-bottom: 0px solid white;
        }
    }
}

.mugshot {
    filter: grayscale(60%);
}

.item {
    &:hover {
        .mugshot {
            filter: grayscale(0%);
        }
    }
    .summary {
        span {
            display: inline-block;
            a {
                display: inline;
                color: $link-color;
                background: none;
                padding: 0 0;
                border-radius: 0;
                font-weight: inherit;
                &:hover {
                    color: $link-color-hover;
                }
            }
        }
    }
    .social {
        a {
            color: $link-color;
            background: none !important;
            border-bottom: none;
        }
    }
}

footer {
    padding-top: 4em;
    background-color: #f3f3f3;
    color: #aeaeae;
    font-weight: 300;
}

#content {
    ul, li {
        list-style-type: circle;
        line-height: 150%;
    }
    li {
        margin-bottom: 1em;
    }
}
