@import "_palette";
@import "_type";
@import "_navbar";
@import "_layout";
@import "_index";

// Format the list of papers
@import "_publication";

// List of things
@import "_list";

.container {
    a {
        color: $link-color;
        text-decoration: none;
        border-bottom: 1px solid #eee;
        &:hover {
            color: $link-color-hover;
        }
    }
}

#splash {
    .tagline {
        display: block;
    }
}

@media only screen and (min-width: 1200px) {
    .tagline {
        display: inline-block !important;
    }
    #splash {
        .tagline {
            display: none !important;
        }
    }
}

@media only screen and (min-width: 850px) {
    .container {
        max-width: 950px;
        margin: 0px auto;
        p {
            line-height: 1.8;
        }
    }
    header {
        transition: 0.5s;
        .container {
            font-size: 140%;
        }
    }
    nav#topbar{
        a{ 
            display: inline-block;
        }
        a.icon {
            display: none;
        }
        nav#menu {
            position: fixed;
            right: 0px;
            top: 0px;
            display: block !important;
            text-align: right;
            a.menu {
                display: inline-block;
                background: none !important;
                color: $lab-blue;
            }
        }
    }
} 

.mugshot {
    filter: grayscale(50%);
}

footer {
    padding-top: 4em;
    background-color: #f3f3f3;
    color: #aeaeae;
    font-weight: 350;
}

#content {
    ul, li {
        list-style-type: circle;
        line-height: 150%;
    }
    li {
        margin-bottom: 1em;
    }
}