<div class="inner">
{{ $year := index .issued "date-parts" 0 0 | string }}
<div class="title">{{ title .title }}</div>
<span class="year">{{ $year }}</span>{{ if isset . "DOI"}} &mdash; <a href="http://dx.doi.org/{{ .DOI}}" target="_blank"
    class="doi" title="Text through DOI">{{ .DOI }}</a>{{ end }}
<div class="authors">
    {{ range $author := .author }}
    <span class="family">{{ $author.family }}</span>,
    <span class="given">{{ range $names := split $author.given " " }}
        {{ range $comps := split $names "-"}}{{ substr $comps 0 1 }}.{{ end }}
        {{ end }}</span>
    {{ end }}
</div>
<div class="metadata">
    {{ if isset . "URL" }}
    <span class="url link">
        <a href="{{ .URL}}" target="_blank" title="Text through URL">Full text</a>
    </span>
    {{ end }}
    <span class="gscholar link">
        <a href="https://scholar.google.com/scholar?q={{.title}}" title="Find on google scholar" target="_blank">Google
            Scholar</a>
    </span>
</div>
</div>
<span class="badges">
    <div data-badge-popover="right" data-badge-type="donut" data-doi="{{ .DOI }}" data-condensed="true"
        data-hide-no-mentions="true" data-hide-less-than="10" class="altmetric-embed"></div>
    <!-- <span class="__dimensions_badge_embed__" data-doi="{{ .DOI }}" data-style="small_circle"
        data-hide-zero-citations="true"></span> -->
</span>
</div>