<footer>
    <section class="container">
        We are located in the <a href="https://goo.gl/maps/qtGaMPy9g8jXZz9AA" target="_blank">Campus MIL</a> of <a href="http://umontreal.ca" target="_blank" rel="noopener noreferrer">Université de Montréal</a>.
        <br />
        We are mainly funded by <a href="https://www.nserc-crsng.gc.ca/index_eng.asp" target="_blank">NSERC</a>, <a href="http://www.frqnt.gouv.qc.ca/accueil" target="_blank" rel="noopener noreferrer">FRQNT</a>, <a href="https://www.innovation.ca/fr" target="_blank" rel="noopener noreferrer">CFI</a>, <a href="https://ivado.ca/" target="_blank" rel="noopener noreferrer">IVADO</a>.
        <br />
        Contact Timothée Poisot by <a href="mailto:timothee.poisot@umontreal.ca">email</a> (or don't).
    </section>
</footer>