<head>
    <title>the poisot lab{{if .Title}} - {{.Title}}{{ end }}</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ .Site.Params.subtitle }}">
    <base href="{{ .Site.BaseURL }}">

    <script src="https://kit.fontawesome.com/1a39b803e2.js" crossorigin="anonymous"></script>

    <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
    <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>

    {{ $sass := resources.Get "scss/theme.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink | absURL }}" >

    <script src="/ui/main.js"></script>

    <link rel="canonical" href="{{ .Permalink }}">
</head>