<head>
    <title>the poisot lab{{if .Title}} - {{.Title}}{{ end }}</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ .Site.Params.subtitle }}">
    <meta name="keywords" content="computational ecology,quantitative ecology,computational ecology research group,quantitative and computational ecology,network ecology,ecological networks,machine learning ecology,artificial intelligence ecology,timothée poisot,ecological research" />
    <base href="{{ .Site.BaseURL }}">

    <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
    <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>

    {{ $sass := resources.Get "scss/theme.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink | absURL }}" >

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <script src="/ui/main.js"></script>
    <script src="/ui/bibtexParse.js"></script>

    <link rel="canonical" href="{{ .Permalink }}">
</head>