{{ define "main" }}

<main id="content">
    <section class="container">
        {{ .Content }}
        
        {{ $refs := slice }}

        {{ range $collection, $papers := .Site.Data.bibliographies }}
            {{ range $paper := $papers }}
                {{ $year := index $paper.issued "date-parts" 0 0 | int }}
                {{ $month := index $paper.issued "date-parts" 0 1 | int }}
                {{ $day := index $paper.issued "date-parts" 0 1 | int }}
                {{ $fyear := printf "%04d" (sub $year 3000)}}
                {{ $fmonth := printf "%02d" (sub $month 12) }}
                {{ $fday := printf "%02d" (sub $day 31) }}
                {{ $date := print $fyear "-" $fmonth "-" $fday "-" $paper.id | string}}
                {{ $metadata := dict "collection" $collection "date" $date}}
                {{ $newref := (merge $metadata $paper)}}
                {{ $refs = $refs | append $newref }}
            {{ end }}
        {{ end }}

        {{ range (sort $refs "date") }}
            {{ partial "publication.html" . }}
        {{ end }}
        
    </section>
</main>
{{ end }}