{{ define "main" }}
<main id="content">
    <section class="container">
        {{ .Content }}
        <div class="listing">
            {{ range .Paginator.Pages }}
            <div class="item">
                <img class="header" src="{{.Page.Params.image}}" alt="" />
                <h2>{{.Title}}</h2>
                <div class="summary">
                    {{.Summary}}
                    <span><i class="ri-links-line"></i> <a href="{{ .Permalink }}">Read more</a></span>
                </div>
            </div>
            {{ end }}
        </div>
    </section>
</main>
{{ end }}