@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Mono|Roboto:300,300i,400,400i,500,500i");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
* {
  font-family: "Roboto", sans-serif; }

code, pre {
  font-family: "Roboto Mono", monospace; }

b, strong {
  font-weight: 500; }

header, nav {
  font-family: "Roboto Slab", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab" !important;
  font-weight: 400;
  color: #1C9696; }

html {
  height: 100%;
  margin: 0 0;
  padding: 0 0; }

body {
  min-height: 100%;
  max-width: 800px;
  margin: 0px auto; }

header {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 0px;
  line-height: 70px;
  background-color: #222222ee;
  font-weight: 300;
  text-transform: uppercase; }
  header img {
    height: 70px;
    display: inline-block;
    float: left;
    background-color: #111111ee;
    margin-right: 1em; }
  header h1, header h2 {
    font-weight: 300 !important;
    margin: 0 0;
    color: #f2f2f2;
    font-size: 16px;
    line-height: 60px;
    display: inline-block;
    padding-right: 1em; }
    header h1 a, header h2 a {
      text-decoration: none;
      color: white; }
    header h1 b, header h1 strong, header h2 b, header h2 strong {
      font-weight: 400;
      color: white; }
  header nav {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 66px;
    line-height: 70px; }
    header nav a {
      color: #ffffffbb;
      text-decoration: none;
      padding-left: 8px; }
      header nav a:hover {
        color: white; }
      header nav a.active {
        color: white;
        font-weight: 400; }

#content {
  line-height: 25px;
  padding: 2em 0.5em;
  margin-bottom: 4em; }
  #content a {
    border-bottom: 1px solid #1C9696;
    text-decoration: none;
    color: #083444; }
    #content a:hover {
      border-bottom: 2px solid #1C9696; }

.people {
  padding-left: 95px;
  min-height: 80px;
  margin: 1em 0em;
  margin-bottom: 2em; }
  .people img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: 1px solid #d0d0d0;
    float: left;
    margin-left: -95px; }
  .people .name {
    font-weight: 500; }
  .people .role {
    color: #808080; }
  .people .metadata span {
    margin-right: 1em; }

.paper {
  margin-bottom: 2em; }
  .paper .title {
    font-weight: 500;
    line-height: 18px; }

.metadata {
  font-weight: 300;
  color: #333; }

.badge a {
  border-bottom: 0px solid white !important; }
  .badge a:hover {
    color: #1C9696 !important; }

.people .badge {
  font-weight: 400 !important;
  margin-left: 1em; }

#homepage {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -1; }
  #homepage .background-image {
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url("/backgrounds/8.jpg");
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1; }
  #homepage .welcome {
    background-color: #222222ee;
    color: white;
    font-family: "Roboto Slab" !important;
    position: fixed;
    padding: 2em;
    width: 60vw;
    max-width: 600px;
    font-size: 18px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.topic {
  max-width: 45%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 5em;
  float: left;
  text-align: center; }
  .topic img {
    width: 200px;
    object-fit: cover;
    border: 1px solid #d0d0d0;
    height: 200px;
    border-radius: 200px; }

@media all and (max-width: 1020px) {
  header h2 {
    display: none; } }
@media all and (max-width: 900px) {
  #content {
    margin-top: 12em; }

  header {
    position: absolute;
    top: 0;
    right: 0vw;
    width: 100%;
    bottom: auto;
    padding: 0 0;
    margin: 0 auto;
    line-height: 18px; }
    header .logo, header h2 {
      display: none; }
    header h1 {
      display: inline-block;
      padding: 1em 1em; }
    header nav {
      display: block;
      width: 90vw;
      line-height: 18px;
      padding: 1em 1em;
      position: sticky;
      top: 0; }
      header nav a {
        display: inline-block;
        width: 170px;
        padding-left: 0; }

  .topic {
    max-width: 95%; } }
table {
  width: 100%;
  font-size: 90%;
  line-height: 25px; }
  table tbody {
    border-bottom: 1px solid #485C72;
    border-top: 1px solid #485C72; }
  table th {
    font-weight: 500;
    color: white;
    background-color: #485C72; }
  table th, table td {
    padding: 4px 6px; }
  table tr {
    background-color: rgba(72, 92, 114, 0.15); }
    table tr:nth-child(even) {
      background-color: rgba(72, 92, 114, 0.05); }

/*# sourceMappingURL=theme.css.map */
